

<div class="panel panel-default narrowform">
  <div class="panel-heading">
    <div class="panel-title"><h2>Create New Post</h2></div>
  </div>

  <div class="container">
    <%= render "posts/form" %>
  </div>

</div>
