<div class="panel panel-default narrowform">
  <div class="panel-heading">
    <div class="panel-title"><h2 class="text-center"><%= @post.title %></h2></div>
  </div>
  <h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
  <div><%= raw @post.body %> </div>
</div>
